$vw_design: 750;
$vw_fontsize: 75;

$color1: #b0b0b6;

$color2: #9878ff;


$main-bg : #000;



@function vw($px) {
  @return ($px * 2 / 750) * 100vw;
}

@function rem($px) {
  @return ($px / $vw_fontsize) * 1rem;
}

@mixin bg-image($url) {
  background-image: url($url+'@2x.png');
  @media (min-device-pixel-ratio: 3) {
    background-image: url($url+'@3x.png');
  }
}
