$vw_design: 750;
$vw_fontsize: 75;

$color0: #999;

$color1: #dae0e7;

$color2: #006699;

$color3: #0085e6;

$main-bg1: rgba(0, 0, 0, 0.8);

$main-bg: #848484;

$b_line: #494949;

@function rem($px) {
  @return ($px / $vw_fontsize) * 1rem;
}

@mixin bg-image($url) {
  background-image: url($url+"@2x.png");
  @media (min-device-pixel-ratio: 3) {
    background-image: url($url+"@3x.png");
  }
}
