$vw_design: 750;
$vw_fontsize: 75;

$color1: #6699cc;

$color2: #006699;

$color3: #9878ff;

$main-bg: #000;

$b_line: #494949;

@function vw($px) {
  @return ($px * 2 / 750) * 100vw;
}

@function rem($px) {
  @return ($px / $vw_fontsize) * 1rem;
}

@mixin bg-image($url) {
  background-image: url($url+"@2x.png");
  @media (min-device-pixel-ratio: 3) {
    background-image: url($url+"@3x.png");
  }
}
