.navlist {
  width: 100%;
  ul {
    display: flex;
    li {
      flex: 1;
      height: 88px;
      line-height: 1em;
      padding: calc((88px - 1em) / 2) 0;
      box-sizing: border-box;
      text-align: center;
      color: $color1;
      font-size: 32px;
      &.active {
        color: $color3;
      }
    }
  }
}
